---
http_interactions:
- request:
    method: post
    uri: https://testpayments.worldnettps.com/merchant/xmlpayment
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SECURECARDSEARCH>
          <MERCHANTREF>secure_card_search</MERCHANTREF>
          <TERMINALID>6003</TERMINALID>
          <DATETIME>10-12-2016:12:00:00:000</DATETIME>
          <HASH>8d9d5953e4990066b4a5b984b4ed69f4</HASH>
        </SECURECARDSEARCH>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ERROR><ERRORCODE>E04</ERRORCODE><ERRORSTRING>INVALID
        REFERENCE DETAILS</ERRORSTRING></ERROR>\n"
  recorded_at: Thu, 15 Dec 2016 16:49:28 GMT
recorded_with: VCR 3.0.3
