---
http_interactions:
- request:
    method: post
    uri: https://testpayments.worldnettps.com/merchant/xmlpayment
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <REFUND>
          <UNIQUEREF>KR3XSVSZ41</UNIQUEREF>
          <TERMINALID>6003</TERMINALID>
          <AMOUNT>10.50</AMOUNT>
          <DATETIME>10-12-2016:12:00:00:000</DATETIME>
          <HASH>fba32e08517da7ed1969ce846c078c44</HASH>
          <OPERATOR>John</OPERATOR>
          <REASON>Product is defective</REASON>
        </REFUND>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ERROR><ERRORSTRING>Invalid
        UNIQUEREF field</ERRORSTRING></ERROR>\n"
  recorded_at: Fri, 16 Dec 2016 12:21:33 GMT
recorded_with: VCR 3.0.3
