---
http_interactions:
- request:
    method: post
    uri: https://testpayments.worldnettps.com/merchant/xmlpayment
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SECURECARDREMOVAL>
          <MERCHANTREF>worldnet_tps.gem</MERCHANTREF>
          <CARDREFERENCE>2967539209767734</CARDREFERENCE>
          <TERMINALID>6003</TERMINALID>
          <DATETIME>10-12-2016:12:00:00:000</DATETIME>
          <HASH>ae1630b7d812045f0023d1085f028df5</HASH>
        </SECURECARDREMOVAL>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ERROR><ERRORCODE>E04</ERRORCODE><ERRORSTRING>INVALID
        REFERENCE DETAILS</ERRORSTRING></ERROR>"
  recorded_at: Thu, 15 Dec 2016 15:31:08 GMT
recorded_with: VCR 3.0.3
